.banner{
    width: 100%;
    height: 650px;
    background-color: grey;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 73px;
    .img{
        width: 100%;
        height: auto;
    }
}