@font-face {
    font-family: "QuicksandBold";
    src: url("./assets/fonts/Quicksand-Bold.ttf");
}
@font-face {
    font-family: "QuicksandLight";
    src: url("./assets/fonts/Quicksand-Light.ttf");
}
@font-face {
    font-family: "QuicksandMedium";
    src: url("./assets/fonts/Quicksand-Medium.ttf");
}
@font-face {
    font-family: "QuicksandRegular";
    src: url("./assets/fonts/Quicksand-Regular.ttf");
}
@font-face {
    font-family: "QuicksandSemiBold";
    src: url("./assets/fonts/Quicksand-SemiBold.ttf");
}