$pink: #ED1E79;
$black: #000000;
$darkGrey: #1A1A1A;
$red: #ED1C24;
$yellow: #F7931E;
$lightBlue: #4ca5db;
$brandPurple: #7401A3;
$brandYellow: #E29334;
$brandPink: #DB0D65;

$text-bold: 'QuicksandBold';
$text-light: "QuicksandLight";
$text-medium: "QuicksandMedium";
$text-regular: "QuicksandRegular";
$text-semi-bold: "QuicksandSemiBold";