$pink: #ED1E79;
$black: #000000;
$darkGrey: #1A1A1A;

$text-bold: 'QuicksandBold';
$text-light: "QuicksandLight";
$text-medium: "QuicksandMedium";
$text-regular: "QuicksandRegular";
$text-semi-bold: "QuicksandSemiBold";