.button{
    color: $pink;
    display: flex;
    border: 1px $pink solid;
    border-radius: 12px;
    cursor: pointer;
}
.outlined{
    height: 47px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    .material-symbols-outlined{font-size: 33px;}
}